*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 7ch;
  margin-bottom: 1ch;
  margin-top: 1ch;
}

.album-header > img {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}

.album-container {
  padding-left: 4ch;
  padding-top: 6ch;
  padding-bottom: 2ch;
  padding-right: 8ch;
  flex: 1;
}

.album-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.album-header-info {
  align-self: flex-end;
}

.album-header-info-inline {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.penyanyi {
  font-weight: 800;
}

.duration {
  opacity: 0.5;
}

.album-song {
  margin-top: 4ch;
  font-size: 2.2ch;
  display: flex;
  flex-direction: column;
  gap: 2ch;
}

.special {
  font-weight: 700;
}

.song-title {
  display: flex;
  flex-direction: row;
}

.title {
  margin-left: 4ch;
  flex-wrap: wrap;
}

.song-container {
  display: flex;
  justify-content: space-between;
}

.w-border {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1440px) {

}