::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(49, 48, 48);
}

::-webkit-scrollbar-thumb {
  background: #5a5a5a;
  border-radius: 15px;
}

.navbar {
  padding-left: 4ch;
  padding-right: 6ch;
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #000;
  background: #000;
  min-width: 100%;
  max-width: 100%;
  min-height: 5rem;
  max-height: 5rem;
}

.logo-text {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    min-width: 14.5rem;
    max-width: 14.5rem;
    min-height: 100vh;
    max-height: 500vh;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    padding-top: 3ch;
  }
  .nav-logo {
    margin-bottom: 20px;
  }
  .nav-link > img {
    display: unset;
  }

  .logo-text {
    display: unset;
    font-weight: 800;
    font-size: x-large;
    align-self: center;
  }
}

.navbar a {
  text-decoration: none;
  color: white;
  width: fit-content;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.nav-link > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  opacity: 0.6;
  filter: invert(1);
}

.nav-link > text {
  opacity: 0.6;
}

.nav-link > text:hover {
  opacity: 1;
}

.nav-link > img:hover {
  opacity: 1;
}

.nav-logo > img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.nav-logo {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
