*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #242424;
  color: white;
  padding: 0;
  margin: 0;
}

.content-container {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1.5em 1.25em;
  gap: 13px;
  width: 100%;
}

header h2 {
  margin: 0;
}

.input__search {
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 14px;
  padding: 10px 14px;
  margin-top: 1em;
}

.input__search::placeholder {
  color: #5e5e5e;
}

.select-genre {
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.filter {
  display: flex;
  gap: 2em;
}

.song-list {
  width: 100%;
}

.song-profile {
  display: flex;
  align-items: center;
  gap: 14px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #1ed760;
  color: black;
  text-align: left;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

td {
  background-color: #121212;
  color: white;
  padding-block: 10px;
}

th:first-child {
  padding: 0.5rem;
}

.rank {
  width: 3.5em;
  text-align: center;
}

.profile-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

a {
  color: white;
}

.singer,
.title {
  margin: 0;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.title {
  font-size: 16px;
}

.singer {
  font-size: 14px;
  color: #c5c5c5;
}

.sort {
  cursor: pointer;
}

.pagination-container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 8px;
}

.pagination-container span {
  background: #1ed760;
  padding: 5px 8px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  border-radius: 3px;
}

.pagination {
  display: flex;
  gap: 8px;
}

.pagination p {
  padding: 5px 8px;
  cursor: pointer;
  border: 1px solid #1ed760;
  border-radius: 3px;
}

.nav {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav {
    width: 100%;
    display: block;
    background: #000;
    padding: 15px;
    padding-left: 2em;
    position: sticky;
    top: 0;
  }

  .nav .input__search {
    display: block;
    border-radius: 500px;
    width: 23em;
    padding-inline: 2em;
    padding-block: 0.75em;
    margin-top: 0;
  }

  .input__search {
    display: none;
  }

  .content {
    padding-top: 0.5em;
  }
}
