* {
  background-color: #121212;
  color:white;
}

main {
  display:flex;
  flex-direction: row;
  align-items: center;
  height:100vh;
  padding:0;
  margin:0;
}

.divider {
  width:100%;
  display:flex;
  flex-direction: column;
}

.image {
  width:100%;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.info {
  padding: 1rem;
}

.title {
  font-weight:900;
  font-size:3rem;
  margin: 1rem 0;
}

.audio-player {
  width:100%;
  display: flex;
  justify-content: center;
  margin-top:2rem;
}

p {
  margin: 0.5rem 0;
}

@media screen and (min-width: 768px) {
  .divider {
    display:flex;
    flex-direction: row;
  }

  .divider > div:first-child {
    width:30%;
  }

  .divider > div:nth-child(2) {
    padding: 4rem 4rem;
  }

  .image {
    align-items:center;
  }
}

input {
  background-color: #121212;
  color:white;
  border: 2px solid chartreuse;
  border-radius:0.5rem;
  padding:0.5rem 0.8rem;
}