.song-list {
  width:100%;
  background-color: #1c1c1c;
}

.song-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.song-profile > img {
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #1ed760;
  color: black;
  text-align: left;
}

.date {
  padding: 0.8rem 2rem;
}

.genre {
  padding: 0.8rem 1.5rem;
}

td {
  background-color: #1c1c1c;
  color:white;
  padding: 1.2rem 0;
}

th:first-child {
  padding: 0.7rem;
}

.rank {
  text-align: center;
  padding:0 1.3rem 0 1rem;
}

.profile-text {
  display:flex;
  flex-direction: column;
}

.title {
  font-weight: bolder;
  font-size: larger;
}

a {
  color:white;
}
