*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
  
.container {
  display: flex;
  flex-direction: row;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding-top: 3ch;
  padding-left: 4ch;
  padding-bottom: 2ch;
  padding-right: 8ch;
  flex: 1;
  background: linear-gradient(to bottom, #87be8e, rgb(49, 48, 48), #000);
}

.form-header {
  color: white;
  padding-bottom: 3ch;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1.5em;
  margin-top: 1em;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-container label {
  font-weight: 700;
  font-size: 2ch;
  color: white
}

.select-genre {
  box-sizing: border-box;
  padding: 1ch;
  font-size: 1rem;
  border-radius: 4px;
  outline: none;
  border: 1px solid #000;
}

.input-container input {
  box-sizing: border-box;
  padding: 1ch;
  font-size: 1rem;
  border-radius: 4px;
  outline: none;
  border: 1px solid #000;
}

#imageToUpload {
  color: white;
}

.button-container {
  display: flex;
  flex: 1;
}

.form-button {
  margin-top: 1em;
  border-radius: 500px;
  padding: 14px 32px;
  background: #1ed760;
  font-weight: 700;
  outline: none;
  border: none;
  font-size: 1rem;
  letter-spacing: 2px;
  color: white;
  flex: 1;
}

.form-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.error-message {
  background: #e91429;
  width: 100%;
  padding: 2px 0;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  padding-top: 1ch;
  padding-bottom: 1ch;
  align-self: center;
  border-radius: 500px;
}